{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
<style>
</style>
{% endblock %}
{% block app_content %}
<div>欢迎用户{{ username }}登录</div>
<div><br></div>
<div class="d-flex flex-column align-items-center">
    {{ wtf.quick_form(form) }}
</div>
<div><br></div>
<div><progress value="70" max="100"></progress></div>
<div><br></div>
<div>您已经阅读条数:{{ user_num.history_read }}</div>
<div><br></div>
<div>历史发送消息:{{ user_num.all_push }}<span>  </span>今日发送消息:{{ user_num.now_push }}</div>
{% endblock %}